html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pilgrim-container {
  height: 256px;
  width: 256px;

  position: relative;

  display: inline-block;
}

.pilgrim-hat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.pilgrim-hair {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  filter: invert(0%) brightness(-96%) contrast(104%);
}

.pilgrim-body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
